.menu_items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2%;
  list-style: none;
  margin-top: 5dvh;
}

.menu_item {
  background-color: rgba(255, 228, 196, 0.32);
  margin-bottom: 4dvh;
  border-radius: 20px;
}

.item_img-wrapper {
position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  /* display: block; */
  max-width: 100%;
  padding: 15px;
  overflow: hidden;
}

.item__img {
  cursor: pointer;
  display: block;
  width: 100%;
  height: auto;
  border-radius: 20px;
  transition: transform 0.3s ease;
 
  transition: opacity 0.3s ease;
}

.item__img:hover {
  opacity: 0.5;
}

.item_img-wrapper:hover .item__img {
  transform: scale(1.05);
}


  
  .item__img-desc {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%; /* Установите ширину, которая подходит для вашего дизайна */
    opacity: 0;
    transition: opacity 0.3s ease;
    color: white;
    padding: 10px;
  }
  


.item_img-wrapper:hover .item__img-desc {
  opacity: 1;
}

.item_desc-wrapper {
  padding: 0 4%;
  margin-bottom: 2dvh;
}

.item_name {
  color: #eab308;
}

.item_price {
  cursor: default;
  font-weight: 700;
  margin: 1dvh 0;
  text-align: right;
  color: rgb(54, 195, 54);
}

.item_btn {
  display: block;
  cursor: pointer;
  width: 50%;
  border-radius: 10px;
  border: 1px solid black;
  margin: 0 auto;
  padding: 3% 1.5%;
  transition: .2s ease;
}

.item_btn:hover {
  background-color: rgba(234, 178, 8, 0.626);
}

.item_btn:disabled {
  background-color: #CCCCCC;
  color: #666666;
}

.sold-out {
  color: #666666;
}

.menu_item.sold-out .item__img {
  filter: grayscale(100%);
}


@keyframes button-click {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.button-clicked {
  animation: button-click 0.5s ease;
}

