@import '../../components/global/vars.scss';

.modal {
  position: fixed;
  @include flex-center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  &-content {
    background-color: var(--white-c);
    padding: 20px;
    border-radius: var(--border-radius-m);
  }

  &-wrapper_btns {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    margin-top: 4dvh;
  }

  &_btn {
    cursor: pointer;
    padding: 5px 28px;
    border-radius: var(--border-radius-m);
    background-color: var(--main-c);
    border: 1px solid var(--main-c);

    &:hover {
      background-color: transparent;
      color: red;

      &:last-child {
        border-color: var(--green-h-c);
        color: var(--green-h-c);
      }
    }
  }
}









