*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Marcellus', serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Mulish', sans-serif;
  font-family: 'Noto Serif', serif;
}

.App {
  font-size: 16px;
  min-height: 100dvh;
  background-color: #f1f5f9;
}

/*Header*/
.App-header {
  display: flex;
  padding: 0 4%;
  justify-content: space-between;
  align-items: center;
  height: 9dvh;
  background-color: #eab308;
  font-weight: bold;
}

.header_logo {
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  background-color: transparent;
}

.header_userInfo {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.cart-icon-container {
  cursor: pointer;
  position: relative;
}

.item-count {
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
  color: white;
  border-radius: 50%;
  padding: 0 5px;
  font-size: 12px;
  font-weight: bold;
  transform: translate(50%, -50%);
}

#query {
  width: 100%;
  padding: 6%;
  border-radius: 8px;
  border: none;
  background-color: #fef08a;
}

/*Header*/

.App-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 12dvh;
}

.flash,
.desc {
  text-align: center;
}

.flash {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5dvh;
}

.flash-orange {
  color: #eab526;
}

.desc {
  font-weight: bolder;
  color: rgb(49, 48, 48);
}

#user-name {
  width: 75%;
  margin-top: 3dvh;
  padding: 4%;
  border-radius: 8px;
  border: none;
}

.userName__btn {
  width: 75%;
  margin-top: 3dvh;
  padding: 4%;
  border-radius: 8px;
  border: none;

  background-color: #ffc000;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bolder;
}

.userName__btn:hover {
  padding: 3.367%;
  background-color: transparent;
  color: #ffc000;
  border: 3px solid #ffc000;
}

.cart-wrapper {
  margin-top: 10dvh;
  padding-bottom: 10dvh;
  display: flex;
  align-content: center;
  justify-content: center;

}

.goBack {
  cursor: pointer;
  border: none;
  color: blue;
  margin-bottom: 5dvh;
}

.cart-holder{
  font-family: 'Marcellus', serif;
  margin-bottom: 2dvh;
}

.splash-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5dvh;

}

.splash-cart_empty {
  min-width: 42dvw;

  
}

.splash-cart_text {
  padding-top: 5dvh;
  text-align: center;
  font-size: 2rem;
  color: #bbbec3a0;
}

.pizza_icon {
  width: 20dvh;
  height: auto;
  color: #bbbec3a0;
}

.cart-items {
  display: flex;
  padding: 0;
  list-style: none;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.cart-item {
  
  width: 42vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3dvh 0;
    border-bottom: 1px solid rgb(231,233,237);
}



.item-name {
  font-family: 'Marcellus', serif;
}

.controller_panel {
  display: flex;
  width: 15vw;
  justify-content: space-between;
}

.cart-controller {
  
  display: flex;
  width: 50%;
  justify-content: space-between;
    align-items: center;
}

.cart-btn {
  font-family: 'Marcellus', serif;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
    background-color: #eab308;
    border: none;
}

.controller_btns {
  padding: 1dvh 2dvh;
}

.delete_btn {
  padding: 1.5dvh 3dvh;
}

.cart-order_btns {
  margin-top: 3dvh;
}


.order_btn {
  padding: 2dvh 4dvh;
}

.clear_btn {
  margin-left: 1vw;
  background-color: transparent;
  border: 1px solid rgb(214,212,210);
  color: rgb(100,122,154);
}